body {
    background-color: rgba(68,0,153,0.5);
}

.app {
display: grid;
/* grid-auto-flow: column; */
grid-template-columns: 100%;
grid-template-rows: auto;
grid-gap: 10px;
grid-template-areas: 
'header' 
'content';
}
@media screen and (min-width: 865px){
    .app {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
    'header header' 
    'content content';
    }
}
@media screen and (min-width: 1084px){
    .app {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
    'header header header' 
    'content content content';
    }
}
@media screen and (min-width: 1460px){
    .app {
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: 
    'header header header header' 
    'content content content content';
    }
}